[profile.release]
panic = "unwind"

[profile.production]
inherits = "release"

[workspace]
resolver = "2"
members = [
	"node",
	"pallets/parachain-staking",
	"pallets/vesting-manager",
	"pallets/orml-currencies-allowance-extension",
	"pallets/orml-tokens-management-extension",
	"pallets/treasury-buyout-extension",
	"runtime/common",
	"runtime/amplitude",
	"runtime/foucoco",
	"runtime/pendulum",
	"runtime/integration-tests",
	"chain-extensions/token",
	"chain-extensions/price",
	"chain-extensions/common",
]

# need this because of bifrost farming dependency in runtime
# bifrost farming uses different orml-traits for orml-currencies
[patch."https://github.com/open-web3-stack/open-runtime-module-library"]
orml-traits = { git = "https://github.com/open-web3-stack//open-runtime-module-library", branch = "polkadot-v0.9.42" }

# need this because of bifrost farming dependency in runtime
# bifrost uses :
# orml packages { version = "0.4.1-dev" }
# zenlink packages  { version = "*" }
[patch.crates-io]
orml-traits = { git = "https://github.com/open-web3-stack//open-runtime-module-library", branch = "polkadot-v0.9.42" }
orml-currencies = { git = "https://github.com/open-web3-stack//open-runtime-module-library", branch = "polkadot-v0.9.42" }
orml-tokens = { git = "https://github.com/open-web3-stack//open-runtime-module-library", branch = "polkadot-v0.9.42" }
zenlink-protocol = { git = "https://github.com/zenlinkpro/Zenlink-DEX-Module", branch = "polkadot-v0.9.42" }
zenlink-protocol-runtime-api = { git = "https://github.com/zenlinkpro/Zenlink-DEX-Module", branch = "polkadot-v0.9.42" }


[patch.'https://github.com/paritytech/substrate']
pallet-vesting = { git = "https://github.com/pendulum-chain/patch-pallet-vesting-transaction-storage", branch = "polkadot-v0.9.42" }
pallet-transaction-payment = { git = "https://github.com/pendulum-chain/patch-pallet-vesting-transaction-storage", branch = "polkadot-v0.9.42" }

