[profile.release]
panic = "unwind"

[workspace]
members = [
	"node",
	"pallets/parachain-staking",
	"pallets/vesting-manager",
	"runtime/common",
	"runtime/amplitude",
	"runtime/foucoco",
	"runtime/pendulum",
	"runtime/development",
]

exclude = [
    "contracts/",
]
