[package]
name = "runtime-common"
version = "0.1.0"
authors = ["Pendulum"]
description = "Pendulum runtime common"
homepage = "https://pendulumchain.org"
repository = "https://github.com/pendulum-chain/pendulum"
edition = "2021"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Substrate
parity-scale-codec = {version = "3.1.5", default-features = false, features = ["derive"]}
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.40" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.40" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.40" }

spacewalk-primitives = { git = "https://github.com/pendulum-chain/spacewalk", default-features = false, rev =  "daf395f6201a834629f6abad77e062d8aa554f63"}
dia-oracle = { git = "https://github.com/pendulum-chain/oracle-pallet", default-features = false, branch = "polkadot-v0.9.40" }
zenlink-protocol = { git = "https://github.com/pendulum-chain/Zenlink-DEX-Module", default-features = false, branch = "polkadot-v0.9.40-protocol" }

[features]
default = [
	"std",
]

std = [
	"sp-consensus-aura/std",
	"sp-runtime/std",
	"sp-core/std",
	"spacewalk-primitives/std",
	"parity-scale-codec/std",
	"scale-info/std",
	"dia-oracle/std",
	"zenlink-protocol/std",
]

runtime-benchmarks = [
	"sp-runtime/runtime-benchmarks",
]
